@{
  Layout = "_Layout";
}

@model Sweets.Models.Treat

<h1>Add Flavor</h1>
<h5>Add Flavor to this Treat: @Html.DisplayFor(model => model.Name)</h5>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back", "Index", "Treat", null, new { @class = "btn btn-primary" })</p>